#logout-container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logout-container .button {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}