<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>ABC Consulting</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="/">
                <img src="{{ url_for('static', filename='images/Logo_transparent.png') }}" alt="">
            </a>
            <a href="">
                <div>Services</div>
            </a>
            <a href="">
                <div>Nos partenaires</div>
            </a>
            <a href="">
                <div>Actualités</div>
            </a>
            <a href="">
                <div>Contact</div>
            </a>
            {% if logged %}
                <a href="/dashboard">
                    <div>Portail administrateur</div>
                </a>
                <a href="/logout">
                    <div>Se déconnecter</div>
                </a>
            {% else %}
                <a href="/login">
                    <div>Connexion</div>
                </a>
            {% endif %}
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>infos copyright</p>
            <a href="">
                <p>Conditions générales d'utilisation</p>
            </a>
            <div class="reseaux-sociaux">
                X Facebook Linkedin Instagram
            </div>
        </footer>
    </body>
</html>