{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
{% endblock %}

{% block content %}
    <h1>Portail administrateur</h1>
    <div class="forms-container">
        <form action="" method="POST" id="password-change-form">
            <h3>Modifier le mot de passe</h3>
            {% if not in_confirmation %}
                <div>
                    <label for="new-pwd">Nouveau mot de passe</label>
                    <input type="password" id="new-pwd" name="new-pwd" required>
                    <label for="confirmed-pwd">Confirmation du mot de passe</label>
                    <input type="password" id="confirmed-pwd" name="confirmed-pwd" required>
                    {% if error %}
                        <p class="error-message">{{ error }}</p>
                    {% endif %}
                </div>
                <button type="submit">Valider</button>
                
            {% else %}
                <p>Êtes-vous sûr de vouloir modifier votre mot de passe ?</p>
                <input type="text" name="is_confirmed" value="confirmed" style="visibility: hidden">
                <button type="submit">Valider</button>
                <a class="button" href="/dashboard">Annuler</a>
            {% endif %}

        </form>
        <form action="" method="POST" class="tagline-change-form">
            <h3>Modifier le slogan</h3>
            <div>
                <label for="new-tagline">Nouveau slogan</label>
                <textarea name="new-tagline" cols="50" rows="5" required placeholder="{{ tagline }}"></textarea>
            </div>
            <button type="submit">Valider</button>
        </form>
    </div>
{% endblock %}

  </body>
  </html>