<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>ABC Consulting</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav>
            <a href="/">
                <img src="{{ url_for('static', filename='images/Logo_transparent.png') }}" alt="">
            </a>
            <a href="">
                <div>Nos formations</div>
            </a>
            <a href="">
                <div>L'équipe</div>
            </a>
            <a href="">
                <div>Se connecter</div>
            </a>
        </nav>

        <header>
            <h1>ABC Consulting</h1>
            <h2>Save money, win clients</h2>
        </header>

        <footer>
            <p>infos copyright</p>
            <a href="">
                <p>Conditions générales d'utilisation</p>
            </a>
            <div class="reseaux-sociaux">
                X Facebook Linkedin Instagram
            </div>
        </footer>
    </body>
</html>