{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{% endblock %}

{% block content %}
    <header>
        <h1>ABC Consulting</h1>
        <span id="left-span"></span>
        <span id="right-span"></span>
        <h2 id="tagline">{{ tagline }}</h2>
    </header>
    <div class="home-content">
        <img src="{{ url_for('static', filename='images/jason-goodman-Oalh2MojUuk-unsplash.jpg') }}" alt="Image de réunion d'entreprise">
        <h3>Société de consulting spécialisée dans le conseil B2B en marketing, business et finance.</h3>
    </div>
{% endblock %}