{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="POST" class="identification-form">
        <div id="pwd-form-container">
            <label for="user-id">Identifiant</label>
            <input type="text" id="user-id" name="user-id" required>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>
        </div>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <button type="submit">Valider</button>
    </form>
{% endblock %}